// overwrite bootstrap variables here
$paradise: #c44aef;
$ocean: #6e4aff;
$fish: #696d90;
$poorfish: #f0f0f5;
$tonnerre: #a84afd;
$primary: #005CFF;
$gradient: linear-gradient(0.25turn, $paradise, $ocean);
